{% extends "::base.html.twig" %}

{% block body %}
	<p class="lead">主流移动支付接入，支持多码合一支付接口</p>
	<p class="lead">致力于提高小微企业的管理能力</p>
	<p class="lead">帮助商家轻松获取各种支付方式</p>
	<p class="lead">为企业提供信息咨询</p>
	<p class="lead">提供商家供销平台，减轻商家采购与人员成本，提高工作效率</p>
{% endblock %}