{% extends "::base.html.twig" %}

{% block body %}
	<h1 class="cover-heading">多码合一移动支付.</h1>
	<div class="row">
		<div class="col-sm-4 col-md-4">
		    <div class="thumbnail">
		      	<div class="caption">
		        	<h3>收银平台</h3>
		        	<p>扫码付款，条码付款等多种收银</p>
		      	</div>
		    </div>
		</div>

		<div class="col-sm-4 col-md-4">
		    <div class="thumbnail">
		      	<div class="caption">
			        <h3>门店管理</h3>
			        <p>单一门店与多门店管理系统</p>
		      	</div>
		    </div>
		</div>

		<div class="col-sm-4 col-md-4">
		    <div class="thumbnail">
		      	<div class="caption">
			        <h3>自助点餐</h3>
			        <p>支持会员自助点餐，节约人力成本。</p>
		      	</div>
		    </div>
		</div>
	</div>
{% endblock %}